amqp==5.3.1
asgiref==3.10.0
billiard==4.2.2
celery==5.3.1
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
Django==5.2.7
django-appconf==1.2.0
django_celery_results==2.6.0
django_compressor==4.6.0
dotenv==0.9.9
kombu==5.5.4
mysqlclient==2.2.7
packaging==25.0
pillow==12.0.0
prompt_toolkit==3.0.52
psycopg==3.2.11
psycopg-binary==3.2.11
psycopg2==2.9.11
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
rcssmin==1.2.2
redis==6.4.0
rjsmin==1.2.5
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
vine==5.1.0
wcwidth==0.2.14
