html {
  --text: #010D14;
  --surface: #CED6DF;
  --surface-2: #E6EAEF;
  --surface-3: #F3F5F7;
  --surface-deep: #A8B6C7;
  --accent-dark: #28666E;
  --link: #0B88D5;
  --border: rgba(2, 25, 39, 0.4);

	font-family: system-ui, sans-serif;
  height: 100%;
  color: var(--text);
  background-color: var(--surface-3);
}

@media (prefers-color-scheme: dark){
  html {
    --text: #ECF7FE;
    --surface: #28343E;
    --surface-2: #202931;
    --surface-3: #181F25;
    --surface-deep: #384957;
    --accent-dark: #78C4CE;
    --link: #64BFF7;
    --border: rgba(118, 145, 167, 0.4);
  }
}

body {
    margin: 0;
    width: 100%;
}

th, td{
    border: solid;
    border-width: 1px;
    border-color: var(--border);
    padding: 4px;
}

#main {
  height: 100%;
  display: flex;
}

#sideBar {
    flex-direction: column;
  width: 200px;
  background-color: var(--surface-2);
  padding: 8px;
  height: inherit;
  z-index: 1;
  gap: 4px;
}

#topBar {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: var(--surface-2);
    padding: 8px;
    z-index: 2;
    gap: 8px;
    top: 0;
    position: sticky;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#topBar > h2, #topBar > * p {
    margin: 0;
}

.nav {
  font-size: x-large;
  width: auto;
}

.selected {
  color: var(--accent-dark);
  background-color: var(--surface-deep);
}

.content {
    padding: 8px;
    overflow: auto;
}

a {
  padding: 4px;
  width: fit-content; 
  color: var(--link);
}

.cardCollection {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
    align-content: start;
    align-items: start;
}

.card {
  background-color: var(--surface-2);
  padding: 8px;
  border: solid;
  border-width: 2px;
  border-color: var(--border);
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25)
}

.item {
  border: solid;
  border-radius: 4px;
  background-color: var(--surface);
  border-color: var(--border);
  padding: 4px;
  border-width: 2px;
}

.verticalList {
  display: flex;
  gap: 6px;
  flex-direction: column;
    max-height: 600px;
    overflow-y: auto;
    padding-top: 0;
    min-width: 200px;
}

.verticalListHeader {
    position: sticky;
    top: 0;
    background: linear-gradient(180deg, var(--surface-2) 0%, var(--surface-2) 75%, rgba(17,17,17,0) 100%);
    padding: 0 0 8px;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;

}

.error {
    background-color: #611018;
    color: #eacaca;
}

.errors{
    background-color: rgba(34,7,7,0.8);
    color: white;
}

button, .button {
  color: var(--text);
  font-size: medium;
  text-decoration: none;
  padding: 3px;
}

button, .button, .nav {
  background-color: var(--surface-2);
  border: solid;
  border-color: var(--border);
  border-radius: 2px;
  border-width: 2px;
}

button:hover, .button:hover, .nav:hover {
  background-color: var(--surface-deep);
}
  

.tasksWrapper {
	height: 50%;
	width: 65%;
	position: absolute;
	top: 25%;
	margin-left: 10%;
}

.tasks {
	height: 100%;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	border: 4px solid lightgrey;
	white-space: nowrap;
}

.tasksContentWrapper {
	height: 100%;
	max-height: 100%;
	width: calc(33.33% - 9px);
	display: inline-block;
	margin-inline-start: 1px;
	margin-inline-end: 1px;
	overflow-x: hidden;
	overflow-y: auto;
	border-left: 2px solid grey;
	border-right: 2px solid grey;
}

.tasksContent {
	position: relative;
	max-width: 100%;
	overflow-wrap: break-word;
	text-wrap: wrap;
	text-align: center;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border: solid;
  border-radius: 4px;
  background-color: var(--surface);
  border-color: var(--border);
  padding: 4px;
  border-width: 2px;
  margin-left: 10px;
  margin-right: 10px;
}

.windowBackground {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #0006;
    display: none;
}

.popupWindow {
    z-index: 2;
    max-width: 550px;
    margin: 64px auto;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    display: none;
}

.windowHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}