html {
  --rich-black: #010D14;
  --surface: #CED6DF;
  --surface-2: #E6EAEF;
  --surface-deep: #A8B6C7;
  --accent-dark: #28666E;
  --border: rgba(2, 25, 39, 0.4);

	font-family: system-ui, sans-serif;
  height: 100%;
  color: var(--rich-black);

}

body {
  margin: 0;
  height: 100%;
  display: flex;
}

.navbar {
  max-width: 200px;
  background-color: var(--surface-2);
  padding: 4px;
  height: inherit;
  z-index: 1;
  gap: 4px;
}

.nav {
  font-size: x-large;
  width: auto;
}

.selected {
  color: var(--accent-dark);
  font-weight: bold;
  background-color: var(--surface-deep);
}


.content {
  padding: 8px;
}

a {
  padding: 4px;
  width: fit-content; 
  color: #04314E;
}

.card {
  background-color: var(--surface-2);
  padding: 8px;
  border: solid;
  border-width: 2px;
  border-color: var(--border);
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25)
}

.item {
  border: solid;
  border-radius: 4px;
  background-color: var(--surface);
  border-color: var(--border);
  padding: 4px;
  border-width: 2px;
}

.verticalList {
  display: flex;
  gap: 6px;
  flex-direction: column;
}

button, .button {
  background-color: var(--surface-2);
  border: solid;
  border-color: var(--border);
  border-radius: 2px;
  border-width: 2px;
}

button:hover, .button:hover {
  background-color: var(--surface-deep);
}
  
@media (prefers-color-scheme: dark){
	html {
		background-color: #232634;
		color: white;
	}

  .navbar {
    background-color: var(--surface-2);
  }

  a {
    color: #85c1dc;
    background-color: #51576d;
  }

  .card {
    background-color: #303446;
  }
  .item {
    
    background-color: #414559;
    border-color: #626880;
  }
}
  .tasksWrapper {
  	height: 50%;
  	width: 65%;
  	position: absolute;
  	top: 25%;
  	margin-left: 10%;
  }

  .tasks {
  	height: 100%;
  	width: 100%;
  	overflow-x: auto;
  	overflow-y: hidden;
  	border: 4px solid lightgrey;
  	white-space: nowrap;
  }

  .tasksContentWrapper {
  	height: 100%;
  	max-height: 100%;
  	width: calc(33.33% - 9px);
  	display: inline-block;
  	margin-inline-start: 1px;
  	margin-inline-end: 1px;
  	overflow-x: hidden;
  	overflow-y: auto;
  	border-left: 2px solid grey;
  	border-right: 2px solid grey;
  }

  .tasksContent {
  	position: relative;
  	max-width: 100%;
  	overflow-wrap: break-word;
  	text-wrap: wrap;
  	text-align: center;
  }

  .tasksContent li {
  	text-align: left;
  }
