<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>Planer</title>
    </head>
    <body>
        {% if user.is_authenticated %}
        {% with request.resolver_match.view_name as view_name %}
        <div class="navbar">
                <a href="/planer/logout" >Log out</a>
                <h1>Welcome {{user_name}}</h1>
                <a class="{% if view_name == "index" %}selected {% endif %}nav" href="/planer/">Tasks</a>
                <a class="{% if view_name == "expenses" %}selected {% endif %}nav" href="/planer/expenses/">Expenses</a>
                {% if user.is_superuser %}
                <a class="{% if view_name == "tasks_manage" %}selected {% endif %}nav" href="/planer/tasks_manage/">Manage tasks</a>
                {% endif %}
        </div>
        {% endwith %}
        {% endif %}
        <div class="content">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>

