{% extends "base.html" %}

{% block popupwindows %}

    <div id="addPurchase" class="popupWindow card">
        <div class="windowHeader">
            <h2>Add item to shopping list</h2>
            <button onclick="closeWindow('addPurchase')">Close</button>
        </div>

        <form method="post">
            <input type="hidden" id="formtype" name="formtype" value="to_purchase">
            {% csrf_token %}
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="price">Price</label><br>
            <input type="number" id="price" name="price" step=".01" min="0.01"><br>
            <label for="amount">Amount</label><br>
            <input type="number" id="amount" name="amount" min="1"><br>

            <input class="button" type="submit" value="submit">
        </form>
    </div>

    <div id="payPurchase" class="popupWindow card">
        <div class="windowHeader">
            <h2>Pay for item</h2>
            <button onclick="closeWindow('payPurchase')">Close</button>
        </div>

        <form method="post">
            <input type="hidden" id="formtype" name="formtype" value="purchased">
            {% csrf_token %}
            <h2>I purchased:</h2>
            <label for="purchase_id">Request ID:</label><br>
            <input type="number" id="purchase_id" name="purchase_id" min="0"><br>
            <label>Indebted users:</label><br>
            {% for user in users %}
                <input type="checkbox" id="username_{{ user.id }}" name="indebted" value="{{ user.id}}">
                <label for="username_{{ user.id }}">{{ user.username }}</label><br>
            {% endfor %}

            <input class="button" type="submit" value="submit">
        </form>
    </div>
{% endblock popupwindows %}

{% block title %}💰 Expenses{% endblock title %}

{% block content %}

<script>

function payPurchase(id){
    document.getElementById("purchase_id").value = id;
    showWindow("payPurchase");
}

</script>


<div class="cardCollection" style="display: flex">
  <div class="card verticalList">
      <div class="verticalListHeader">
        <h2>Shopping list</h2>
        <button onclick="showWindow('addPurchase')">+</button>
      </div>

    {%  if to_purchase|length == 0 %}

        <p>Empty</p>

    {% endif %}
    {% for purchase in to_purchase %}
      <div class="purchase item">
        <p>Item: <b>{{ purchase.name }}</b></p>
        <p>Price: <b>{{ purchase.price }}</b></p>
        <p>Amount: <b>{{ purchase.amount }}</b></p>
        {% if purchase.locator_id != None %}
            <p>Buyer: <b>{{ purchase.locator_id }}</b></p>
        {% else %}
          <button onclick="payPurchase({{ purchase.id }})">Buy</button>
        {% endif %}
      </div>
    {% endfor %}
  </div>


<div class="card verticalList">
    <h2>Your debts:</h2>
    {% if debts|length == 0 %}
        <p>Empty</p>
    {% endif %}
    {% for user, debt_list in debts.items %}
      <div class="item debts">
        <p>Debt for: <b>{{ user.username }}</b></p>
        <p>Sum owed: <b>{{ debt_list.sum|floatformat:2 }}</b></p>
        <p>Number of purchases: <b>{{ debt_list.debts|length }}</b></p>
        <form method="post">
            <input type="hidden" id="formtype" name="formtype" value="pay_all_debts">
            {% csrf_token %}
            <input type="hidden" id="locator_id" name="locator_id" value="{{ user.id }}">
            <input class="button" type="submit" value="Pay">
        </form>
      </div>
    {% endfor %}
  </div>

</div>

{% endblock content %}
