{% extends "base.html" %}

{% block content %}

<body>

  <h1>Your tasks</h1>
  <div class="tasksWrapper">
    <div id="tasks" class="tasks">
      {% for user in users %}
        <div class="tasksContentWrapper">
          <div class="tasksContent">
            <h3>{{user}}</h3>
            <ul>
              {% for task in tasks %}
              {% if user == task.loc_name %}
              <li class="listItem">
                  <label>{{task.task_name}}</label>
                  <form name="{{task.task_name}}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name={{task.task_name}} value = "0">
                    {% if task.is_done == "True" %}
                      <input type="checkbox" name="{{task.task_name}}" checked>
                    {% else %}
                      <input type="checkbox" name="{{task.task_name}}">
                    {% endif %}
                  </form>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <script>

    document.addEventListener('DOMContentLoaded', function() {

      var checkboxes = document.querySelectorAll('input[type="checkbox"]');

      console.log(checkboxes);

      for (checkbox of checkboxes) {
        checkbox.addEventListener('change', function() {
          var forms = document.forms;
          for (var i = 0; i < forms.length; i++) {
            if (forms[i].name === checkbox.name) {
                forms[i].submit();
            }
        }
      });
      }
    });

  </script>


</body>
{% endblock content %}

