{% extends "base.html" %}

{% block content %}
<script>


  // params - name, tasks
  function addNewPerson(name, tasks) {
    var contentWrapper = document.createElement('div');
    contentWrapper.setAttribute('class', 'tasksContentWrapper');

    var content = document.createElement('div');
    content.setAttribute('class', 'tasksContent');

    var checkbox = document.createElement('input');
    checkbox.setAttribute('type', 'checkbox');

    var name = document.createElement('h3');
    name.textContent = name;

    var taskList = document.createElement('ul');

    for (let task of tasks) {
      var item = document.createElement('li');
      item.innerText = task;
      taskList.appendChild(item);
    }

    content.appendChild(checkbox);
    content.appendChild(name);
    content.appendChild(taskList);

    contentWrapper.appendChild(content);

    document.getElementById('tasks').appendChild(contentWrapper);
  }

  var users = [];
  
  {% for task in tasks %}

  var locator = {{ task.locator_id.name }};
  users.push(locator);

  {% endfor %}

  for (locator of users) {
    var tasksJS = [];

    {% for task in tasks %}

      {% if task.locator_id.username == locator %}
      tasksJS.push(task.task_id.name);
      {% endif %}  

    {% endfor %}

    addNewPerson(locator, tasksJS);

  }

</script>

<h1>Your tasks</h1>
  <div class="tasksWrapper">
    <div id="tasks" class="tasks">
      <div class="tasksContentWrapper">
          <div class="tasksContent">XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br>XD<br></div>
      </div>
      <div class="tasksContentWrapper">
          <div class="tasksContent">XDXDDDDDDDDDDDDDDDDDDDDD</div>
      </div>
    </div>
  </div>
{% endblock content %}

