{% extends "base.html" %}

{% load static %}

{% block title %}<img class="icon-dark" src="{% static 'icons/reports-light.png' %}" style="width:20px;height:20px;"/><img class="icon-light" src="{% static 'icons/reports-dark.png' %}" style="width:20px;height:20px;"/> Reports{% endblock %}

{% block content %}
<div class="cardCollection">

    <div id="taskReport" class="card">
        <table id="taskReportTable">
            <caption>Weeks</caption>
            <tr>
                <th>Week dates</th>
                <th>Completed / all tasks</th>
                <th>Locators assigned to week</th>
            </tr>
            {% for week in weeks %}
            <tr>
                <td>{{ week.week.start_date|date:"SHORT_DATE_FORMAT"}} - {{ week.week.end_date|date:"SHORT_DATE_FORMAT" }}</td>
                <td>{{ week.week.completed_tasks}} / <b>{{ week.week.total_tasks }}</b></td>
                <td>
                    {% for locator in week.users %}
                        {{ locator.first_name }} {{ locator.last_name }}<br>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
       <button onclick="printElementById('taskReportTable')">Print</button>
    </div>

    <div id="expensesReport" class="card">
        <table id="expensesReportTable">
            <caption>Unpaid debts</caption>
            <tr>
                <th>Product purchased</th>
                <th>Money owed per locator</th>
                <th>Locators who have not paid</th>
            </tr>
            {% for purchase in purchases %}
                <tr>
                    <td>{{ purchase.purchase.name }}</td>
                    <td>{{ purchase.purchase.owedPerPerson|floatformat:2 }}</td>
                    <td>
                        {% for locator in purchase.users %}
                            {{ locator.first_name }} {{ locator.last_name }}<br>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <button onclick="printElementById('expensesReportTable')">Print</button>
    </div>

</div>

    <script>
        function printElementById(id) {
            const printContents = document.getElementById(id);
            let newWindow = window.open("");
            newWindow.document.write(printContents.outerHTML);
            newWindow.document.write("<style>table, th, td {border: 1px solid black;} th, td {padding:4px;}</style>");
            newWindow.print()
            newWindow.close()
        }
    </script>
{% endblock %}