{% extends "base.html" %}
{% load static %}

{% block popupwindows %}

    <div id="addTaskWindow" class="popupWindow card">
        <div class="windowHeader">
            <img class="icon-dark" src="{% static 'icons/tasks-light.png' %}" />
            <img class="icon-light" src="{% static 'icons/tasks-dark.png' %}" />
            <h2>Add new task</h2>
            <button onclick="closeWindow('addTaskWindow')">Close</button>
        </div>
        <form id="addTask"  method="post">
            <input type="hidden" id="formtype" name="formtype" value="task">
            {% csrf_token %}
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br>
            <label id="for_frequency" for="frequency">Every 1 week</label><br>
            <input type="range" id="frequency" name="frequency" min="1" max="51" value="1"><br><br>
            <input class="button" type="submit" value="submit">
        </form>
    </div>

    <div id="generateWeeksWindow" class="popupWindow card">

    </div>

{% endblock popupwindows %}

{% block title %}✏️  Manage tasks{% endblock title %}

{% block content %}

<script>

  window.onload = () => {
    const slider = document.getElementById("frequency");
    const label = document.getElementById("for_frequency");
    slider.addEventListener("input", (event) => {
      label.textContent = "Every " + event.target.value + " weeks";
    })
  };

</script>


<div class="cardCollection">
  <div class="card verticalList">
    <div class="verticalListHeader">
    <img class="icon-dark" src="{% static 'icons/tasks-light.png' %}" />
    <img class="icon-light" src="{% static 'icons/tasks-dark.png' %}" />
      <h2>Tasks</h2>
      <button onclick="showWindow('addTaskWindow')">+</button>
    </div>
    {% for task in tasks %}
      <div id="task_{{ task.id }}" class="task item">
        <p>Name: <b>{{ task.name }}</b></p>
        <p>Every <b>{{ task.frequency }}</b> weeks</p>
        <button onClick="deleteItem({{ task.id }}, 'task')">Delete</button>
      </div>
    {% endfor %}
  </div>


  <div class="card verticalList">
      <div class="verticalListHeader">
          <img class="icon-dark" src="{% static 'icons/calendar-light.png' %}" />
          <img class="icon-light" src="{% static 'icons/calendar-dark.png' %}" />
          <h2>Generated weeks</h2>
{#          <button onclick="showWindow('generateWeeksWindow')">+</button>#}
          <button hx-get="show_generate_weeks" hx-trigger="click" hx-target="#generateWeeksWindow" hx-swap="innerHTML" hx-on::before-request="showWindow('generateWeeksWindow')">+</button>
      </div>
    {% for week in weeks%}
      <div id="week_{{ week.id }}" class="item">
        <p>Start: <b>{{ week.start_date }}</b></p>
        <p>End: <b>{{ week.end_date}}</b></p>
        <p>Tasks: <b>{{ week.count}}</b></p>
        <button onClick="deleteItem({{ week.id }}, 'week')">Delete</button>
        <a class="button" href="{% url 'week_details' date=week.start_date %}" >Edit</a>
      </div>
    {% endfor %}
  </div>


</div>

{% endblock content %}

