{% extends "base.html" %}

{% block content %}

<script>

  async function deleteTask(id) {
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    console.log("deleting task " + id);
    const response = await fetch("", {
      method: "DELETE",
        headers: {
        "X-CSRFToken": csrftoken,
        "Content-Type": "application/json",
        //"Content-Type": "multipart/form-data",
      },
      body: JSON.stringify(
        {id: id}
      )
    })
    console.log("response: " + response);
    location.reload();
  }
  window.onload = (event) => {
    const slider = document.getElementById("frequency");
    const label = document.getElementById("for_frequency");
    slider.addEventListener("input", (event) => {
      label.textContent = "Every " + event.target.value + " weeks";
    })  
  };

</script>

<style>

  #manage {
    display: flex;
    gap: 8px;
    align-content: start;
    align-items: start;
  }

</style>

<h1>Manage tasks</h1>

<div id="manage">
  <div class="card verticalList">
    <h2>List of tasks</h2>
    {% for task in tasks %}
      <div class="task item">
        <p>Name: <b>{{ task.name }}</b></p>
        <p>Every <b>{{ task.frequency }}</b> weeks</p>
        <button onClick="deleteTask({{ task.id }})">Delete</a>
      </div>
    {% endfor %}
  </div>
  <form id="addTask" class="card" method="post">
    <input type="hidden" id="formtype" name="formtype" value="task"> 
    {% csrf_token %}
    <h2>Add task</h2>
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label id="for_frequency" for="frequency">Every 1 week</label><br>
    <input type="range" id="frequency" name="frequency" min="1" max="51" value="1"><br><br>
    <input class="button" type="submit" value="submit">
  </form>
  <form class="card" method="post">
    {% csrf_token %}
    <h2>Generate tasks</h2>
    <input type="hidden" id="formtype" name="formtype" value="generate"> 
    <label for="beg_date">From date:</label><br>
    <input type="date" name="beg_date" min="{{ today }}" step="7" placeholder="dd-mm-yyyy" /><br>
    <label for="beg_date">To date:</label><br>
    <input type="date" name="end_date" min="{{ today }}" step="7" placeholder="dd-mm-yyyy" /><br><br>
    <input class="button" type="submit" value="submit">
  </form>
</div>

{% endblock content %}

