{% extends "base.html" %}

{% block popupwindows %}
    <div id="addTask" class="card popupWindow">

    </div>

    <div id="editTask" class="card popupWindow">

    </div>
{% endblock popupwindows %}

{% block content %}
<script>
    function deleteTask(taskInWeekId, taskId, taskName) {
        deleteItem(taskInWeekId, 'taskInWeek');
        const newTaskOption = document.createElement('option');
        newTaskOption.id = 'task_option_' + taskId;
        newTaskOption.value = taskId;
        newTaskOption.innerHTML = taskName;
        document.getElementById("task_select").appendChild(newTaskOption);
        document.getElementById("edit_task_select").appendChild(newTaskOption.cloneNode());
    }
</script>
<a class="button" href="{% url 'tasks_manage' %}" style="margin: 4px;"> Go back</a>
<h1>Week {{ week.start_date }} - {{ week.end_date }}</h1>

<div>

  <div class="card verticalList">
      <div class="verticalListHeader">
          <h2>List of tasks</h2>
          <button hx-get="show_add_task/{{ week.id }}" hx-trigger="click" hx-target="#addTask" hx-swap="innerHTML" hx-on::before-request="showWindow('addTask')">Add task</button>
      </div>
    {% for task in tasks %}
      <div id="taskInWeek_{{ task.id }}" class="task item">
        <p>Name: <b>{{ task.task_id.name }}</b></p>
        <p>Every <b>{{ task.task_id.frequency }}</b> weeks</p>
        <p>Locator: <b>{{ task.locator_id.first_name}} {{ task.locator_id.last_name }}</b></p>
        <p>Is done: <b>{{ task.is_done }}</b></p>
        <button hx-delete="" hx-target="#taskInWeek_{{ task.id }}" hx-swap="delete" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                hx-vals='{"id": "{{ task.id }}"}' hx-confirm="Delete task {{ task.task_id.name }}?">Delete</button>
        <button hx-get="show_edit_task/{{ task.id }}/{{ week.id }}" hx-trigger="click" hx-target="#editTask" hx-swap="innerHTML" hx-on::before-request="showWindow('editTask')">Edit</button>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
